<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/style.css">

        <script src="../../js/prefixfree.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../../js/index.js"></script>
    </head>

    <body>
        <div class="stars" style="z-index: -1"></div>
        <div class="twinkling" style="z-index: -1"></div>
        <ul>
            <li><a class="active" href="#home"><img src="../../images/icons/home.png"></a></li>
            <li><a href="#check_in"><img src="../../images/icons/check_in.png"></a></li>
            <li><a href="#post"><img src="../../images/icons/post.png"></a></li>
            <li><a href="gallery.html"><img src="../../images/icons/gallery.png"></a></li>
            <li><a href="#contact"><img src="../../images/icons/contact.png"></a></li>
        </ul>
    </body>
</html>